<!--
Dark block (without extra divs)
-->
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus in magnam pariatur possimus quas? In odit perspiciatis quidem repellendus unde!
      </p>
    </header>
  </div>
</section>

<!--
Pure block with extra divs(card)
-->
<section class="block">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus in magnam pariatur possimus quas? In odit perspiciatis quidem repellendus unde!
      </p>
    </header>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores beatae commodi corporis eos magni maiores possimus quam sequi vitae.
        </div>
      </div>
    </div>
  </div>
</section>