<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae odio quo sit! Alias aliquid aspernatur blanditiis corporis cupiditate distinctio dolore eius facere fuga harum hic, impedit incidunt ipsam nisi nobis non nostrum nulla omnis sit suscipit tempora ut voluptas?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="icons/sprite.svg#link-solid"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author"> —— Bonington Chen</h3>
        <p class="quote__organization">
          Bonity Program Web Service - 非营利性组织
        </p>
      </div>
    </div>
  </footer>
</blockquote>