<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Iterm 1</h2>
    <svg class="icon collapsible__chevron">
      <use xlink:href="icons/sprite.svg#circle-chevron-down-solid"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum doloribus eum facere obcaecati odio, repellat repudiandae. Ipsam quisquam quos repudiandae.
  </div>
</div>

<script src="script/main.js"></script>
