<section class="block container">
  <header class="block__header">
    <h2>完全自由开放的社区平台</h2>
    <p>
      自由注册，开放、开源。专业的数据管理。
    </p>
  </header>
  <!--      个人博客 简介页面 -->
  <article class="grid grid--1t2 feature">
    <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#arrow-up-right-dots-solid"></use>
          </svg>
        </span>
      <h3 class="feature__heading">个人博客：最便捷的使用</h3>
      <p>
        快速上手，自由部署您的私人博客。
      </p>
      <p>
        留住灵感。
      </p>
      <p>
        搭建您的个性化个人博客。
      </p>
      <p>
        发布您的日常见闻和新奇发现。
      </p>
      <div>
        <a href="#" class="link-arrow">
          快速开始
        </a>
        <i class="fa-solid fa-arrow-right link-arrow"></i>
      </div>
    </div>
    <picture>
      <source
              type="image/webp"
              srcset="images/example-ZhuoXinSiKaDi@1x.webp 1x,
                  images/example-ZhuoXinSiKaDi@2x.webp 2x"
      />
      <source
              type="image/png"
              srcset="images/example-ZhuoXinSiKaDi@1x.png 1x,
                  images/example-ZhuoXinSiKaDi@2x.png 2x"
      />
      <img class="feature__image" src="images/example-ZhuoXinSiKaDi@original.JPG" alt="Feature Picture">
    </picture>
  </article>

  <!--      社区入驻 简介页面 -->
  <article class="grid grid--1t2 feature">
    <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#house-solid"></use>
          </svg>
        </span>
      <h3 class="feature__heading">社区入驻：最丰富的内容</h3>
      <p>
        想发表您的第一手资讯？无需从零开始。
      </p>
      <p>
        统一风格的视觉效果，给您带来精彩纷呈的社区内容。
      </p>
      <p>
        平台的内置发布平台，支持Markdown、LaTex排版，以及海量模版。总有一款适合您。
      </p>
      <p>
        生活需要一点仪式感。即是文案，也是作品。
      </p>
      <p>
        与您志同道合的人，都在这里。
      </p>
      <div>
        <a href="#" class="link-arrow">
          立刻开始
        </a>
        <i class="fa-solid fa-arrow-right link-arrow"></i>
      </div>
    </div>
    <picture>
      <source
              type="image/webp"
              srcset="images/example-XingJi_TiaoWang@1x.webp 1x,
              images/example-XingJi_TiaoWang@2x.webp 2x"
      />
      <source
              type="image/png"
              srcset="images/example-XingJi_TiaoWang@1x.png 1x,
                  images/example-XingJi_TiaoWang@2x.webp 2x"
      />
      <img class="feature__image" src="images/example-XingJi_TiaoWang@original.JPG" alt="Feature Picture">
    </picture>
  </article>

  <!--      社区注册资格 简介页面 -->
  <article class="grid grid--1t2 feature">
    <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#address-card-solid"></use>
          </svg>
        </span>
      <h3 class="feature__heading">社区注册：最专业的服务</h3>
      <p>
        个性化定制您的社区。
      </p>
      <p>
        呼唤思想。
      </p>
      <p>
        构建您理想中的社区氛围。
      </p>
      <p>
        号召您志同道合的朋友，然后，畅所欲言！
      </p>
      <div>
        <a href="#" class="link-arrow">
          掌控一切
        </a>
        <i class="fa-solid fa-arrow-right link-arrow"></i>
      </div>
    </div>
    <picture>
      <source
              type="image/webp"
              srcset="images/example-ChengShan@1x.webp 1x,
                  images/example-ChengShan@2x.webp 2x"
      />
      <source
              type="image/png"
              srcset="images/example-ChengShan@1x.png 1x,
                  images/example-ChengShan@2x.png 2x"
      />
      <img class="feature__image" src="images/example-ChengShan@original.JPG" alt="Feature Picture">
    </picture>
  </article>
</section>
