<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">个人博客 · Blog</h2>
        <svg class="icon collapsible__chevron">
          <use xlink:href="icons/sprite.svg#circle-chevron-down-solid"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">发布</a></li>
          <li><a href="#">整理</a></li>
          <li><a href="#">回顾</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">社区 · Community</h2>
        <svg class="icon collapsible__chevron">
          <use xlink:href="icons/sprite.svg#circle-chevron-down-solid"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">浏览</a></li>
          <li><a href="#">加入</a></li>
          <li><a href="#">创建</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">构建 · Build</h2>
        <svg class="icon collapsible__chevron">
          <use xlink:href="icons/sprite.svg#circle-chevron-down-solid"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">页面</a></li>
          <li><a href="#">后端</a></li>
          <li><a href="#">数据库</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/Bonity_LOGO_dark.PNG" alt="LOGO">
      <p class="footer__copyright">
        Copyright &copy;2022 Bonington Chen
      </p>
    </section>
  </div>
</footer>
