<nav class="nav collapsible">
  <a href="/"><img src="images/Bonity_LOGO_dark.PNG" alt=""></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="icons/sprite.svg#bars-solid"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item">
      <a href="#">个人博客</a>
    </li>
    <li class="nav__item">
      <a href="#">开放式社区</a>
    </li>
    <li class="nav__item">
      <a href="#">专属社区</a>
    </li>
    <li class="nav__item">
      <a href="#">开源项目 构建</a>
    </li>
  </ul>
</nav>