<section class="block container block-register">
  <header class="block__header">
    <h2>开始注册自己的专属博客计划</h2>
    <p>
      包含个人博客，以及可选的附加资格。
    </p>
    <p>
      如有意向参与项目构建，请联系开发者。
    </p>
  </header>
  <div class="input-group">
    <input
            type="text"
            class="input"
            placeholder="请在此输入用户名..."
    >
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="icons/sprite.svg#magnifying-glass-solid"></use>
      </svg>
      搜索
    </button>
  </div>
  <ul class="list block-register__option">
    <li>
      <span class="badge badge--secondary">
        仅 博客
      </span>
    </li>
    <li>+ 社区入驻</li>
    <li>+ 社区注册资格</li>
    <li>参与项目构建</li>
  </ul>
</section>
